# Archivos de compilación y dependencias
.DS_Store
HELP.md
target/
*.jar
*.war
*.ear
*.class

# Configuración de IDEs (NetBenas, Eclipse, IntelliJ, VS Code)
.idea/
*.iml
*.ipr
*.iws
*.bkp
.vscode/
*.swp
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de logs
logs/
*.log
*.log.*

# Archivos de configuración temporales
.env
*.properties
*.yml
!src/main/resources/microservicio/*
!src/main/resources/application*.yml
!src/main/resources/application*.properties
!src/test/resources/application-test.properties


# Maven y Gradle
.mvn/
.gradle/
build/
out/
dependency-reduced-pom.xml

# Archivos de test y cobertura
test-output/
jacoco.exec
.coverage/

# Configuración de contenedores
docker-compose.override.yml
/bin/
/.settings
/*.project
/*.factorypath
/*.classpath
*.pyc
/.idea
/.vscode
/logs
